body {
    width: "100%";
    height: "100%";
}

h1 {
    text-align: center;
}

#input {
    margin-right: 10px;
    width: 250px;
}

.content {
    display: block;
    width: fit-content;
    text-align: center;
}

.container-area {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 50px;
}

.input-area {
    display: block;
    text-align: start;
}

#error-validation {
    color: #CC1016;
    font-size: 12px;
    margin-top: 2px;
}

#button {
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
}